@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: "Roboto Mono", monospace !important;
}
body {
	background-color: #1e1e1e;
	color: #c6c6c6;
}
i.bi {
	font-size: inherit;
	color: inherit;
}
.brand-name {
	padding: 0.7rem 0.5rem;
	position: relative;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.brand::before {
	content: "";
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 1px;
	background-color: #475569;
}
nav {
	transform: translateX(-105%);

	transition: transform 0.5s cubic-bezier(0.8, -0.5, 0.2, 1.4);
}
nav.active {
	transform: translateX(0%);
}
.nav-item {
	transition-property: color, background-color;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}
.nav-item.active {
	background-color: rgba(56, 139, 253, 0.15);
	color: #58a6ff;
}
.nav-item:hover {
	background-color: rgba(203, 213, 225, 0.137);
}
.btn-hover {
	transition-property: color, background-color;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}
.btn-hover:hover {
	background-color: rgba(56, 139, 253, 0.15);
	color: #58a6ff;
}
